.search-pet {
    background-color: var(--light-primary-color);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-pet h1 {
    margin: 0;
    padding: 0;
    font-family: 'Bangers', sans-serif;
    font-size: 3rem;
}

.search-pet div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 5px;
    margin-top: 10px;
    background-color: white;
}

.search-pet img {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

.search-pet input {
    width: 300px;
    height: 30px;
    border: none;

}