main {
    padding-top: 70px;
    min-height: 90vh;
    background-color: var(--light-primary-color);
    width: 100%;  
    font-size: 20px;
  
  }
  p {
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    padding: 40px 40px;
  }

h1 {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    color: black;
}
  
.dadospets {
    background-color:rgba(192,192,192,0.3);
    padding: 2%;
    width: 60%;
    margin: 0 auto;
    border-radius: 25px;
    align-items: center; 
    margin-bottom: 1%;
    margin-top: 3%;
  }

 .btn-outline-dark{
    padding: 10px 40px;
    margin-left: 45%;
    font-size: 20px;
    margin-bottom: 5%;
  
  
}
#nome{
  width: 98%;
}
#raca {
  width: 98%;
}

textarea {
    border-radius: 5px;
  width: 90%;
}

#inputState{
  background-color: white;
  width: 100%;
}
::placeholder {
  
  font-size: 20px;
}


