<main>
  <div class="title">

    <h1> CADASTRAR UM PET</h1>
    <p>Para cadastrar um pet para doação, é necessário informar o nome do pet, idade, sexo, porte e raça, além disso gostariamos de saber se estão estão devidamentes vacinados, castrados, vermifugados e uma breve descrição detalhada
      das caracteristicas particulares que sabemos que só seu animalzinho  tem.
        Desejamos boa sorte durante todo o processo de doação, que seu animalzinho encontre um lar que o ame,
        respeite.
  </p>
  <h2> Dados pet </h2>
  </div>

  <form>

    <div class="dadospets">

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="nomePet">Nome</label>
          <input name="name" required type="text" class="form-control" id="nome" placeholder="Digite o nome do Pet"
            [(ngModel)]="dataForm.name">
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="Idade">Idade</label>
            <input name="age" type="text" class="form-control" id="Idade" [(ngModel)]="dataForm.age"
              placeholder="Digite a idade do Pet">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Porte</label>
            <select class="form-control" name="size" required id="inputState" class="form-control"
              [(ngModel)]="dataForm.size">
              <option selected disabled>Selecione uma opção</option>
              <option value="Pequeno">Pequeno</option>
              <option value="Médio">Médio</option>
              <option value="Grande">Grande</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Gênero</label>
            <select required name="gender" id="inputState" class="form-control" [(ngModel)]="dataForm.gender">
              <option selected disabled>Selecione uma opção</option>
              <option value="Macho">Macho</option>
              <option value="Fêmea">Fêmea</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="Cidade">Cidade-UF</label>
          <input name="city" type="text" class="form-control" id="Cidade" [(ngModel)]="dataForm.city"
            placeholder="Digite a cidade e UF onde você se localiza">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="raca">Raça</label>
          <input name="breed" type="text" class="form-control" id="raca" placeholder="Digite a raça do seu pet."
            [(ngModel)]="dataForm.breed">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="peso">Peso</label>
          <input name="weight" type="text" class="form-control" id="peso" placeholder="Digite o peso(Kg) do seu pet."
            [(ngModel)]="dataForm.weight">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Vacina</label>
          <select name="vaccine" id="inputState" class="form-control" [(ngModel)]="dataForm.vaccine">
            <option selected>Selecione uma opção</option>
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Castração</label>
          <select name="castration" id="inputState" class="form-control" [(ngModel)]="dataForm.castration">
            <option selected>Selecione uma opção</option>
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="inputState">Microchip</label>
          <select name="microchip" id="inputState" class="form-control" [(ngModel)]="dataForm.microchip">
            <option selected>Selecione uma opção</option>
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="url-image">URL imagem</label>
          <input class="form-control" name="url-image" type="text" required id="url-image" class="form-control"
            [(ngModel)]="dataForm.url">
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="anexos">Anexos</label>
        <input type="file" name="anexos" id="anexos">
      </div> -->
      
      <div class="form-group">
        <label for="comment">Descrição</label>
        <textarea name="description" class="form-control" cols="150" rows="4" id="comment"
          placeholder="Descreva mais sobre o seu pet" [(ngModel)]="dataForm.description" required></textarea>
      </div>

      <div class="form-group">
        <ngbd-modal-basic></ngbd-modal-basic>
      </div>
   

    <div class="form-group">

      <button type="submit" (click)="createCadastroPet()" class="btn btn-dark">Cadastrar pet</button>
    </div>
 </div>
  </form>

</main>
