
   <h1> Dados do Pet </h1> 
   <form>
     <div class="dadospets">
     <div class="form-group">  
       <input type="radio" name="animal" id="cao"value="cao" class="cao">
       <label for="cachorro">Cachorro</label>
   
       
       <input type="radio" name="animal" id="gato" value="gato" class="gato">
       <label for="gato">Gato</label>
       </div>
   
       <div class="form-group">
         <label for="Nome"></label>
         <input type="text"  name="nome" id="nome" class="nome" placeholder="Digite aqui o nome do pet" size="70" required>
     </div>
   
     <div class="form-group">   
       <label for="idade"></label>
       <input type="text"  name="idade" id="idade" class="idade" placeholder="Digite a idade do seu pet" size="70" required>
     </div>
       
   
       <div class="form-group"> 
         <label for="raca"></label>
         <input type="text" id="raca"placeholder="Digite aqui a raça do seu pet" class="raca" size="70" maxlength="50"required>
       </div>
   
       <div class="form-group">  
         <input type="radio" name="porte" id="pequeno"value="pequeno" class="porte">
         <label for="pequeno">Pequeno</label>
   
         <input type="radio" name="porte" id="medio" value="medio" class="porte">
         <label for="medio">Médio</label>
   
         <input type="radio" name="porte" id="grande" value="grande" class="porte">
         <label for="grande">Grande</label>
       </div>
       
       
       <div class="form-group">  
         <textarea cols="75" id="resumo" rows="10" name="resumo" maxlength="100" wrap="hard" placeholder="Descreva mais sobre o seu pet "></textarea><br>   
       </div>
       
     </div>
        
       
   </form>
   <input class="bottom" type="submit" value="Pronto!">