<main>
  <div class="text">
    <h1><strong> Cadastrar um pet</strong></h1>
    <p>Para cadastrar um pet, precisamos saber um pouco mais de você, pois do ponto de vista do animal, ser abandonado
      pelo amigo é muito doloroso, e eles já sofreram isso uma vez e não queremos que isso se repita. Eles não merecem
      ser tratados com desprezo.

      Sendo assim, abaixo, clique no botão de Cadastro. Ele deverá ser totalmente preenchido e o nome do cão de
      interesse citado. Após análise, entraremos em contato com você.
    </p>
  </div>
  <h1><strong> Dados do Pet</strong> </h1>

  <form>

    <div class="dadospets">

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="nomePet">Nome</label>
          <input name="name" required type="text" class="form-control" id="nome" placeholder="Digite o nome do Pet"
            [(ngModel)]="dataForm.name">
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="Idade">Idade</label>
            <input name="age" type="text" class="form-control" id="Idade" [(ngModel)]="dataForm.age"
              placeholder="Digite a idade do Pet">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Porte</label>
            <select class="form-control" name="size" required id="inputState" class="form-control"
              [(ngModel)]="dataForm.size">
              <option selected disabled>Selecione uma opção</option>
              <option value="Pequeno">Pequeno</option>
              <option value="Médio">Médio</option>
              <option value="Grande">Grande</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Gênero</label>
            <select required name="gender" id="inputState" class="form-control" [(ngModel)]="dataForm.gender">
              <option selected disabled>Selecione uma opção</option>
              <option value="Macho">Macho</option>
              <option value="Fêmea">Fêmea</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="Cidade">Cidade-UF</label>
          <input name="city" type="text" class="form-control" id="Cidade" [(ngModel)]="dataForm.city"
            placeholder="Digite a cidade e UF onde você se localiza">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="raca">Raça</label>
          <input name="breed" type="text" class="form-control" id="raca" placeholder="Digite a raça do seu pet."
            [(ngModel)]="dataForm.breed">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="peso">Peso</label>
          <input name="weight" type="text" class="form-control" id="peso" placeholder="Digite o peso(Kg) do seu pet."
            [(ngModel)]="dataForm.weight">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Vacina</label>
          <select name="vaccine" id="inputState" class="form-control" [(ngModel)]="dataForm.vaccine">
            <option selected>Selecione uma opção</option>
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Castração</label>
          <select name="castration" id="inputState" class="form-control" [(ngModel)]="dataForm.castration">
            <option selected>Selecione uma opção</option>
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="inputState">Microchip</label>
          <select name="microchip" id="inputState" class="form-control" [(ngModel)]="dataForm.microchip">
            <option selected>Selecione uma opção</option>
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="url-image">URL imagem</label>
          <input class="form-control" name="url-image" type="text" required id="url-image" class="form-control"
            [(ngModel)]="dataForm.url">
        </div>
      </div>
      <div class="form-group">
        <label for="comment">Descrição</label>
        <textarea name="description" class="form-control" cols="1" rows="4" id="comment"
          placeholder="Descreva mais sobre o seu pet" [(ngModel)]="dataForm.description" required></textarea>
      </div>
    </div>

    <div class="form-group">

      <button type="submit" (click)="createCadastroPet()" class="btn btn-outline-dark">Cadastrar pet</button>
    </div>

  </form>

</main>
