<app-search-pet></app-search-pet>

<main>

  <section>
    <mat-card class="example-card" *ngFor="let pet of pets">
      <mat-card-header class="image-header">
        <mat-card-title>{{pet.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ pet.url }}" alt="imagem do pet {{ pet.name }} de raça {{ pet.breed }}">
      <mat-card-content>
        <div class="pet-description">
          <ul>
            <li>
              <p> <strong>Idade: </strong>  {{pet.age}}</p>
            </li>
            <li>
              <p> <strong>Cidade: </strong>  {{pet.city}}</p>
            </li>
            <li>
              <p> <strong>Porte: </strong>  {{pet.size}}</p>
            </li>
            <li>
              <p><strong>Gênero: </strong>  {{pet.gender}}</p>
            </li>
            <li>
              <p id="description"><strong>Descrição: </strong>  {{ pet.description }}</p>
            </li>
          </ul>
        </div>
      </mat-card-content>
      <div class="buttons">
        <mat-card-actions>
          <mat-icon class="icons">settings</mat-icon>
        </mat-card-actions>
        <mat-card-actions>
          <button mat-button class="button-ver-mais" (click)="VerMais(pet)">Ver mais</button>
        </mat-card-actions>
        <mat-card-actions>
          <mat-icon class="material-icons-outlined icons " id="close">close</mat-icon>
        </mat-card-actions>
      </div>
    </mat-card>
  </section>
</main>
