<div class="how-we-are">
    <div class="how-we-are__title">
        <span class="icon">
            <img src="../../../assets/img/icones/quemsomos.png" alt="">
        </span>
        <p>quem somos:</p>
    </div>
    
    <div class="grid">
        <div class="how-we-are__description">
            <p>{{howWeAre}}</p>
        </div>
    
        <div class="how-we-are__description">
            <p>{{whatWeDo}}</p>
        </div>

        <div class="how-we-are__title how-we-are__title--no-margin-bottom">
            <span class="icon">
                <img src="../../../assets/img/icones/projeto.png" alt="">
            </span>
            <p>Temos novos projetos em andamento:</p>
        </div>

        <div class="how-we-are__description">
            <p>{{projects}}</p>
            <p>- Oficialização de voluntários em cada capital para apoio, adimnistração e
                gerenciamento de projetos.</p>
        </div>
        <div class="how-we-are__description how-we-are__description--margin-bottom">
            <p>Acreditamos que
                <span class="bold">JUNTOS PODEMOS MUITO</span>,
                com organização , disciplina e logistica, ajudando a melhorara qualidade
                de vida em nosso planeta.
            </p>

        </div>
    </div>
</div>



<!-- .class*3 === EMMET USAGE FOR CREATE DIVS  -->