main {
    background-color: var(--light-primary-color);
    color: black;
    font-size: 20px;
    text-align: center;
    
  
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contato {
    background-color:rgba(192,192,192,0.3);
    padding: 10%;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    border-style: solid;  
  
}


.cidade {
    width: 480px;
    margin-right: 20px;
   
    
}

.senha {
    width: 490px;
    margin-right: 10px;
    justify-content: center;
}
.dadospets {
    background-color:rgba(192,192,192,0.3);
    padding: 2%;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    border-style: solid; 
  }
  
form label {
  
    margin: 5px 0 5px;

}

input {
    height: 40px;
    text-align: center;
    
    
}
 .cao {
     margin-right: 10px;
     margin-top: 10px;

 }
 .gato {
      margin-right: 10px;
      margin-top: 10px;
      
 }


.bottom {
    background-color: black;
    color: cornsilk;
    padding: 20px 40px;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 1%;
}
 

