<header>
    <div class="container">
        <a routerLink="/home" class="logo">
            <img src="assets/img/logo.png" alt="Logo Adopt Friend - descrição: Cachorro e gato num lar amoroso">
        </a>
        <nav>
            <ul>
                <li><a routerLink="/quem-somos">Quem somos</a></li>
                <li><a>Contatos</a></li>
                <li><a routerLink="/pets">Login</a></li>
                <li><a routerLink="#" >Cadastre-se</a></li>
            </ul>
        </nav>
    </div>
</header>
