<!-- <div class="card">
    <div class="card-image">
        <img src="assets/img/ilustra-card-pet1.jpg" alt="">
    </div>
    <div class="card-text">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro sed assumenda perferendis ratione voluptatem suscipit debitis amet, quidem quasi unde fuga dicta. Ex, nesciunt commodi! Consequatur velit nemo unde eum.</p>
    </div>
</div> -->



<mat-card class="example-card">
    <mat-card-header class="image-header">
      <mat-card-title>Bob</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/ilustra-card-pet1.jpg" alt="cachorro bob">
    <mat-card-content>
      <div class="pet-description">
        <ul>
            <li>
                <p>Idade:</p>
            </li>
            <li>
                <p>Porte:</p>
            </li>
            <li>
                <p>Cidade:</p>
            </li>
        </ul>
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button-ver-mais">Ver mais</button>
    </mat-card-actions>
  </mat-card>