<mat-card class="example-card">
    <mat-card-header class="image-header">
      <mat-card-title>Bob</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/ilustra-card-pet1.jpg" alt="cachorro bob">
    <mat-card-content>
      <div class="pet-description">
        <ul>
            <li>
                <p>Idade:</p>
            </li>
            <li>
                <p>Porte:</p>
            </li>
            <li>
                <p>Cidade:</p>
            </li>
        </ul>
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="button-ver-mais">Ver mais</button>
    </mat-card-actions>
  </mat-card>