img{
  height: 30vh;
}
.example-card {
    max-width: 400px;
    border: 1px solid black;
    border-radius: 30px;
    background-color:#B2DFEE;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button-ver-mais{
    background-color: #380070;
    color: white;
    padding: 6px 17px;
    border: none;
    border-radius: 2px;
  }

  .pet-description {
    margin-top: 10px;
    height: 80px;
    width: 280px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
  .pet-description ul{
    list-style: none;
    margin: 5px 0;
    padding: 0 5px;
  }

.pet-description p {

    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}