<main>
    <div class="text">
      <h1><strong> Cadastrar um endereço</strong></h1>
      <p>
          Precisaremos de alguns dados pessoais para que o doador possa entrar em contato com você. Por favor preencha o formulário abaixo com o seu endereço.
      </p>
    </div>
    <h1><strong> Endereço do usuário</strong> </h1>
   
    <form>
   
      <div class="dadosEndereco">
        
        <div class="form-row">  
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="city">Cidade</label>
              <input name="city" type="text" class="form-control" id="city" placeholder="Digite sua cidade">
            </div>
            <div class="form-group col-md-4">
              <label for="uf">UF</label>
              <input name="uf" type="text" class="form-control" id="uf" placeholder="Digite seu UF">
            </div>
            <div class="form-group col-md-4">
                <label for="cep">CEP</label>
                <input name="cep" type="text" class="form-control" id="cep" placeholder="Digite seu CEP">
            </div>

            <div class="form-group col-md-7">
                <label for="logradouro">Logradouro</label>
                <input name="logradouro" required type="text" class="form-control" id="logradouro" placeholder="Digite seu logradouro">
              </div>

              <div class="form-group col-md-2">
                <label for="number">Numero</label>
                <input name="number" type="number" class="form-control" id="number" placeholder="Numero">
            </div>
              <div class="form-group col-md-3">
                <label for="complement">Complemento</label>
                <input name="complement" type="text" class="form-control" id="complement" placeholder="Complemento">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group button">
        <button type="button" class="btn btn-outline-dark">Cadastrar</button>
      </div>
   
    </form>
   
  </main>