<div class="background">
  <mat-card class="example-card">
    <mat-card-header class="image-header">
      <mat-card-title>{{pet.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="infos">

      <img mat-card-image src="{{pet.url}}" alt="Foto do pet {{pet.name}} da raça {{pet.breed}}">
      
      
        <div class="container">
          <div class="row">
            <div class="col-sm-10">
              <h2>Contatos para Adoção</h2>
            
              <dl class="dl-horizontal">
                 
                <dd>Nome do Atual dono: {{user.name}} </dd>
                
                <dt>
                 
                </dt>
                <dd> 
                  <div class="contato">
                  <mat-icon>phone</mat-icon>
                  <a [href]="phone" target="_blank">
                  Telefone
                </a>
                </div>
                  <div class="container-links contato">
                    <span><img class="logo" src="../../../assets/img/icones/whatsapp.svg" alt=""></span>
                    <a id="whatsapp" [href]="whatsapp" target="_blank">(WhatsApp)</a>
                  </div>
                  
                </dd>
                <div class="contato">
                  <mat-icon>email</mat-icon>
                  <a [href]="email" target="_blank">
                E-mail
              </a>

                </div>

            </dl>
          </div>

        </div>

      </div>
    </mat-card-content>

    <mat-card-content>
      <div class="pet-description">
        <br>

        <ul style="list-style-type:none;">
          <li>Idade:{{pet.age}}</li>
          <li>Cidade:{{pet.city}}</li>
          <li>Porte:{{pet.size}}</li>
          <li>Gênero:{{pet.gender}}</li>
          <li>Descrição:{{ pet.description }}</li>
        </ul>
      </div>
    </mat-card-content>
    <div class="button">
      <button class="btn btn-dark btn-block">
        Adotado
      </button>
    </div>
  </mat-card>


</div>
