<div class="background">
  <mat-card class="example-card">
    <mat-card-header class="image-header">
      <mat-card-title>Bob</mat-card-title>
    </mat-card-header>
    <mat-card-content class="infos">
      <img mat-card-image src="assets/img/ilustra-card-pet1.jpg" alt="cachorro bob">
      <div>
        <h2>Contato para adoção</h2>
        <h3>Nome do atual dono</h3>
        <div class="telefone">
          <a href="tel:+551198173848324" target="_blank">
            Telefone
          </a>
          <a href="https://api.whatsapp.com/send?phone=5511989713452&text=Ol%C3%A1%2C%20tudo%20bem%3F%20Gostaria%20de%20conhecer%20o%20pet%20anunciado"
            target="_blank">(WhatsApp)</a>
        </div>
        <div class="email">
          <a href="mailto:adopt_pet@gmail.com" target="_blank">
            E-mail
          </a>
        </div>
      </div>
    </mat-card-content>

    <mat-card-content>
      <div class="pet-description">
        <ul>
          <li>
            <p>Idade:</p>
          </li>
          <li>
            <p>Porte:</p>
          </li>
          <li>
            <p>Cidade:</p>
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
