.example-card {
  margin: 70px 15px;
  max-width: 900px;
  height: 500px;
  width: 800px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #B2DFEE;
  align-items: center;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}
  mat-card-title {
    font-size: 40px;
    margin-left: 500%;
    color: rgb(0, 0, 0);
}

h2 {
  font-size: 20px;
  font-family:cursive;
  text-align: center;
  display: center;
  justify-content: center;
}

  mat-card-content {
    display: flex;
    justify-content: space-between;
    

 .pet-description {
      margin-top: 10px;   
      background-color: rgba(211, 211, 211, 0.26);
      border: 2px solid black;
      flex-direction: column;
      width: 80%;
      height: 70%;
      font-size: 120%;
      line-height: 32px;
      border-radius: 30%;
      margin-left: 10%;
      
 }

  img {
    height: 30vh;
    width: 20vw;
    margin: 10px 7px;
    margin-left: 9%;
    border-radius: 10%;
  }
}

.background {
  background-color: skyblue;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blue;
}
.dl-horizontal {
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 20%;
}
