@import "node_modules/@fortawesome/fontawesome-free/less/fontawesome.less";

<<<<<<< HEAD
footer {
  background-color: #380070;
  .container {
    padding: 10px 0;
    width: 100%;
    height: 12vh;

    .media-icons {
      display: flex;
      margin: 10px 6px;
      align-content: center;
      justify-content: center;
    }
  }
  img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
=======
.footer {
    background-color: #380070;
    &__container {
        padding: 10px;
        width: 100%;
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
        &--media-icon {
            display: flex;
            margin: 10px 6px;
            align-content: center;
            justify-content: center;
        }
    }

    img {
        width: 30px;
        height: 30px;
        margin: 0 10px;
    }
>>>>>>> 12894e1b2adaab703eccdddc7dbb4042ed670520
}