<footer class="footer">
        <div class="footer__container">
            <div class="footer__container--media-icons">
                <a href="https://twitter.com/" target=“_blank”><img src="assets/img/sinal-do-twitter.svg" alt=""></a>
                <a href="https://facebook.com/" target=“_blank”><img src="assets/img/facebook.svg" alt=""></a>
                <a href="https://instagram.com/" target=“_blank”><img src="assets/img/instagram.svg" alt=""></a>
                <a href="https://gmail.com/" target=“_blank”><img src="assets/img/google-plus.svg" alt=""></a>
            </div>
        </div>
</footer>

