<app-header-home></app-header-home>

<main>
    <section class="plataforma">
        <div class="container">
            <img src="assets/img/ilustra-home-pet1.jpg" alt="Ilustração de uma moça de pele branca e cabelos castanhos interagindo com seu gato de cor cinza rajado numa cama ">
            <div class="texto">
                <p>
                    Plataforma que conecta animais em situações de rua com familias disposta a adotá-los. Adotar uma animal é um gesto de amor.
                </p>
                <button type="button" onclick="">Adote já!</button>
            </div>
        </div>
    </section>
    <section class="cadastro">
        <div class="container">
            <img src="assets/img/ilustra-home-pet2.png" alt="Dois cachorros olhando">
            <div class="texto">
                <h2>Como cadastrar um bichinho?</h2>
                <p>
                    Liste o nome, idade,<br/> características e informações<br/> sobre seu pet como sexo,<br/> vacinas,porte e raças.
                </p>
                <button type="button" onclick="">Cadastre-se!</button>
            </div>
        </div>
    </section>
    <section class="adocao">
        <div class="container">
            <img src="assets/img/ilustra-home-pet3.png" alt="">
            <div class="texto">
                <p>
                    Levantamento inédito do Instituto Pet<br/> Brasil aponta que grande parte (46%)<br/> está em organizações da região<br/> Sudeste.<br/>
                    
                    <strong>Aqui você pode anunciar seu<br/> animalzinho para adoção!</strong>
                </p>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>