@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');

:root{
    --light-primary-color: #FFF9C4;
    --text-primary-color: #212121;
    --dark-primary-color:#FBC02D;
    --default-primary-color:#FFEB3B;
    --accent-color: #536DFE;
    --secondary-text-color: #757575;
    --divider-color: #BDBDBD;
}

body {
    
        font-family: 'IBM Plex Sans', sans-serif;
     color:#212121;
     background-color: #FFF9C4;
}

main {
    background-color: var(--light-primary-color);
    color: black;
    font-size: 30px;
    text-align: center;
   
}


.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 15vh;
    background-color:#FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px;
}

header nav ul li a {
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text-primary-color);
    font-weight: 700;
    font-size: 20px;
}

header .container .logo img{
    width: 20vw;
    height: 15vh;
}

h5 {
    text-align: center;
}

/* CONTATO */

.contato {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    background-color:rgba(192,192,192,0.3);
     
}

form label {
    display:block;
    margin: 5px 0 5px;

}

input {
    height: 40px;
    text-align: center;
    
}


 .cidade-container {
    display: flex;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  .cidade {
    width: 236px;
    margin-right: 5px;
    margin-top: 10px;
  }
  
  .uf {
    width: 236px;
  }
  .senha-container {
    display: flex;
    padding-bottom: 10px;
   
  }
  
  .senha {
    width: 236px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 2%;
  }
  .confirma-senha {
    width: 236px;
  }
  
  .dadospets {
    text-align: center;
    justify-content: space-around;    
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    background-color:rgba(192,192,192,0.3);
  }
  .nome {
      margin-top: 1%;
  }
 .idade {
     margin-top: 1%;
 }
 .sexo {
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    padding: 1px;
    margin-bottom: 1%;
    
 }

.porte {
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    padding: 1px;
    margin-bottom: 1%;
}

.form-check {
    text-align: center;
}

.botao{
    background-color: black;
    color: cornsilk;
    padding: 20px 40px;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 1%;
    
}
/*
.contato form input:not([type="radio"]):not([type="checkbox"]),
.contato form textarea,
.contato form select {
    width: 70%;
    padding: 5px;
}

.contato form input:not([type="radio"]):not([type="checkbox"]):focus,
.contato form textarea:focus,
.contato form select:focus {
    outline-color: #00796B;
}


.contato form textarea {
    resize: none;
    height: 50px;
}

.contato form label {
    margin: 10px 0 5px;
    display: inline-block;
    align-items: center;
}



