<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Termo De Compromisso</h4>
      <button type="button"   class="close"  aria-label="Close" (click)="modal.dismiss('')">
        
      </button>
    </div>
    <div class="modal-body">  
          <p>
           <strong> DECLARAÇÃO DO(A) ADOTANTE:</strong> Ao adotar o animal descrito declaro-me apto para assumir a guarda e a responsabilidade sobre o mesmo, eximindo o doador de toda e qualquer responsabilidade por quaisquer atos praticados pelo e com o animal a partir desta data, exceto quanto à castração se assim foi pactuado.
            Declaro ainda, estar ciente de todos os cuidados que este animal exige no que se refere à sua guarda e manutenção, além de conhecer todos os riscos inerentes à espécie com o convívio com humanos, estando apto a guardá-lo e vigiá-lo, comprometendo-me a proporcionar-lhe boas condições de alojamento, alimentação, higiene, conforto térmico, assim como espaço físico que possibilite ao animal se exercitar; e, ainda, ambiente que lhe proporcione afeto e distância de qualquer risco, crueldade, incluindo isolamento e abandono. Responsabilizo-me por preservar a saúde e integridade do animal e a submetê-lo aos cuidados médico-veterinários sempre que necessário para este fim.
            Comprometo-me a não transmitir a posse deste animal a outrem sem o conhecimento do doador, bem como a informá-lo de qualquer situação de risco ou doença que o animal venha a se encontrar. 
            Comprometo-me, também, a permitir o acesso do doador, e a quem com ele se encontrar, ao local de residência do animal, para averiguação de suas condições. 
            Tenho conhecimento de que, caso seja constatado, por parte do doador ou qualquer pessoa ou órgão, que o animal se encontra em situação inadequada para seu bem-estar, perderei a sua guarda, com prejuízo das penalidades legais, administrativas, cíveis e criminais. 
            Comprometo-me a cumprir toda a legislação vigente, municipal, estadual e federal, relativa à posse de animais.
            Declaro-me, assim, ciente das normas acima, as quais aceito, assinando o presente Termo de Adoção Responsável, assumindo plenamente os deveres que dele constam, bem como outros relacionados à posse responsável e que não estejam incluídos neste Termo. 
            Estando, assim, justos e contratados, adotante e doador assim o presente em duas vias de igual teor e forma, elegendo o Fôro da Comarca de São Paulo/SP para dirimir quaisquer controvérsias oriundas do mesmo.
           </p>
           <div class="check">
           <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked"><strong>Li e concordo com os Termos</strong></label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="modal.close('')">Salvar</button>
    </div>
  </ng-template>
  <div class="btt-termo">
  <button class="btn btn-outline-dark" (click)="open(content)">Leia e concorde com o Termo</button>
</div>